.sub-thread {
    position: absolute;
    height: auto;
    width: auto;
    left: 10px;
    top: 165px;
    text-align: left;
    line-height: 17px;
}

.below .card {
    width: 355px;
    border: 0px;
    background-color: white;
    margin-bottom: 13px;
}

.below .card-header, .card-body {
    display: flex;
    text-align: left;
    background: #ECF0F3;
    color: black;

}

.below .card-header {
    border-radius: 15px;
    /* box-shadow: 0 0 0 0; */
}

.below .card-body {
    border-radius: 20px;
    margin-top: 7px;
}

.below .card-header a {
    width: 100%;
    color: black;
}