.login {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.greeting {
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4823530912399292px;
    height: 60px;
    width: 308px;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h6 {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4823530912399292px;
    width: 347px;
    height: 24px;
}

.login p {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.43411770462989807px;

}

.login a {
    color: #FF6700;
}

/* Form with socail media */
.login .container {
    width: 355px;
}

.card {
    border: none;
    align-items: center;

}

p {
    font-weight: 600;
    font-size: 15px;
}

.division {
    float: none;
    position: relative;
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box
}

.division span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4823530912399292px;

}

.division p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.43411770462989807px;

}

.myform {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .form-group {
    width: 320px;
}

.myform .form-control {
    border: 1px solid #979797;
    border-radius: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.myform .form-select {
    border: 1px solid #979797;
    border-radius: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.myform .form-control:focus, .form-select:focus {
    border: 1px solid #57557A;
    border-radius: 10px;
    box-shadow: none;
    color: #000000;
    letter-spacing: 1px
}

.myform .form-select, .form-check, .form-control {
    height: 48px;
    border-radius: 10px;
}

.myform .form-check-input {
    margin-left: -1.25rem;
}

.social-connection {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.social-connection .social-item {
    border: 1px solid #979797;
    border-radius: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    height: 48px;
    width: 100%;
    background-color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3858824074268341px;
}

.social-connection img {
    margin-right: 9px;
}

.forget .bn {
    text-decoration: underline;
}

.forget .bn:hover {
    cursor: pointer
}

.forget .btn a {
    color: #fff;
    width: 100%;
}

.forget .form-group {
    margin-top: 32px;
}

.far.fa-user {
    font-size: 13px
}

.forget {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
}

.forget .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: inherit;
    height: 812px;
    bottom: 0;
    /* right: 0; */
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .6s ease-in-out;
}

.forget .popup-inner {
    position: relative;
    bottom: -724px;
    display: flex;
    flex-direction: column;
    padding: 29px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    max-width: 375px;
    max-height: 812px;
    width: 100%;
    height: 40%;
    background-color: #fff;
    transition: .6s ease-in-out;
}

.forget .popup:target {
    visibility: visible;
    opacity: 1;
}

.forget .popup:target .popup-inner {
    bottom: calc(812px - 130%);
    /* right: 0; */
    /* transform: rotate(0deg); */
}

.forget .popup .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}

.forget .popuptext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forget .popup h4 {
    height: 30px;
    width: 331px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4823530912399292px;

}

.forget .popup h6 {
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 7px auto 18px;
}

.forget .popup p {
    height: auto;
    width: 309px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: -0.3858824074268341px;
    color: #757575;
}

.otp-code {
    width: 90%;
    align-self: center;
    margin-bottom: 22px;
}

.otp-code .otp-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-code .otp-number .boxx {
    height: 48px;
    width: 36px;
    border-bottom: 1px solid black;

    font-size: 26px;
    font-style: normal;
    font-weight: 400;
}

.forget .closepopup {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 2rem;
    height: 2rem;
    z-index: 4;
    color: #FF6700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.forget .closepopup:hover {
    color: #FF6700;
}

#requestNewPass {
    margin-top: 10px;
    text-decoration: underline;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

#reset-code {
    margin-bottom: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

@media(min-width: 767px) {
    .bn {
        text-align: right
    }
}

@media(max-width: 767px) {
    .form-check {
        text-align: center
    }

    .bn {
        text-align: center;
        align-items: center
    }
}

@media(max-width: 450px) {
    .fab {
        width: 100%;
        height: 100%
    }

    .division .line {
        width: 50%
    }
}