.rectangle .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 812px;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: inherit;
    height: inherit;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .6s ease-in-out;
}

.popup-inner {
    position: relative;
    bottom: -724px;
    display: flex;
    flex-direction: column;
    padding: 29px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* align-items: center; */
    max-width: 375px;
    max-height: 812px;
    width: 100%;
    height: 80%;
    background-color: #fff;
    transition: .6s ease-in-out;
}

.popupphoto {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.popupphoto img {
    width: auto;
    height: 100%;
}

.popuptext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}

.popuptext h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0A0A0A;
}

.popuptext p {
    font-size: .875rem;
    color: #686868;
    line-height: 1.5;
}

.popuptext a {
    text-decoration: none;
    color: #47BDFF;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner {
    bottom: calc(812px - 110%);
    right: 0;
    transform: rotate(0);
}

.closepopup {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 2rem;
    height: 2rem;
    z-index: 4;
    color: #FF6700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.closepopup:hover {
    color: #FF6700;
}

.payment {
    z-index: 10;
    position: absolute;
    width: 375px;
    height: 694px;
    top: 316px;

    background: #FFFFFF;
    box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.payment img {
    position: absolute;
    width: 33px;
    height: 3px;
    left: calc(50% - 33px/2);
    top: 10px;
}

.payment h4 {
    /* position: absolute; */
    width: 251px;
    height: 19px;
    margin-left: 10px;
    margin-top: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #4A4A4A;
}

.payment p:nth-child(4) {
    position: absolute;
    width: 104px;
    height: 19px;
    left: calc(50% - 104px/2 - 125.5px);
    top: 75px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #4A4A4A;
}

.line {
    width: 355px;
    height: 1px;
    background: #c4c4c4;
    margin-top: 24px;
}

.full-line {
    /* width: 375px; */
    height: 3px;
    background: #c4c4c4;
    margin-top: 15px;
    margin-bottom: 9px;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    width: 15px;
    height: 15px;
    margin-right: 11px;
}

.form-check-input[type=radio] {
    border-radius: 0;
}

.form-check-input:checked[type=radio] {
    background-image: url(Images/Symbols/check\ 1.png);
}

.form-check-input:checked {
    background-color: #0A0A0A;
    border-color: #0A0A0A;
}

.form-check-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 13px;
}

.other-method {
    display: flex;
    align-items: center;
    text-align: left;
}

.other-method div {
    margin-left: 14px;
}

.other-method h6 {
    line-height: 17px;
    letter-spacing: 0px;
}

.other-method p {
    font-size: 12px;
}