:root {
    width: 375px;
    height: 812px;
}

body {
    font-family: 'Montserrat';
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    position: relative;
}

p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.row, .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
}

section {
    display: flex;
    justify-content: center;

    animation-name: animatebottom;
    animation-duration: 1s;
}

a:hover {
    text-decoration: none;
}

/* #profile-sec, #order-sec, #news-sec, #faqs-sec, #partner-sec, #help-sec, #new-detail-sec, #terms-sec, #privacy-sec{
    display: none;
    text-align: justify;
} */

.flex {
    display: flex;
}

.none {
    display: none;
}

.status-bar {
    /* position: fixed; */
    height: 44px;
    width: 375px;
    left: 0px;
    top: 0px;
    display: flex;
}

.status-time {
    align-self: center;
    height: 18px;
    width: 54px;
    display: flex;
    justify-content: center;
}

.status-time p {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.16500000655651093px;

}

.status-icon {
    margin-left: auto;
    margin-right: 15px;
    align-self: center;
    height: 21px;
    width: 69px;
    left: 293.5px;
    top: 17.160003662109375px;

}

.rectangle {
    position: absolute;
    background-image: url("Images/background.png");
    height: 348px;
    width: 375px;
    left: 0px;
    top: 0px;
    background-position: left;
    background-size: cover;
}

.thread {
    font-size: 30px;
    position: absolute;
    height: auto;
    width: auto;
    left: 10px;
    top: 78px;
    text-align: left;
}

.below {
    position: absolute;
    top: 247px;
}

#loader {
    height: 80px;
    width: 80px;
    position: fixed;
    left: 60%;
    top: 406px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animatebottom {
    from {
        bottom: -1000px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.btn-back {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 20px;
    top: 49px;
    background-image: url('Images/Symbols/icon-back.png');
}

.btn-back:active {
    background-color: #E5E5E559;
}